<div class="container">
    <div class="text-center">
      <% if @user.nil? %>
        <h3>Tool List</h3>
        <h4>TODO: SEARCH BAR & FILTER</h4>
      <% else %>
        <h3><%= @user.name %>'s Tool List</h3>
        <%= link_to 'Create New Tool', new_user_equipment_path(@user.id) %>
      <% end %>
    </div>
   
    <%= render "equipment" %>
</div>