  <div class="container text-center">
    <div class="row justify-content-center">

      <div class="col-md-4">
        <%= image_tag 'connection-desk-device-1260292.jpg', class: "bd-placeholder-img rounded-circle", size: "140x140" %>
        <h2>First Time Visiting?</h2>
        <p>If this is your first time visiting the application, click below or up top to sign up and get started. </p>
        <p><a class="btn dark-primary-btn" href="/users/sign_up" role="button">Sign Up &raquo;</a></p>
      </div>

      <div class="col-md-4">
        <%= image_tag 'alphabet-alphabets-black-board-968243.jpg', class: "bd-placeholder-img rounded-circle", size: "140x140" %>
        <h2>Returning User?</h2>
        <p>If you have already registered click below or up top and log back in to continue using the application.</p>
        <p><a class="btn dark-primary-btn" href="/users/sign_in" role="button">Log In &raquo;</a></p>
      </div>

    </div>
  </div>

