<h1>TODO:</h1>
<ul>
<li>Fix filter button.  It should show all tools if clicked when blank.</li>
<li>Update tables to panels</li>
<li>General clean up and formatting</li>
<li>DRY up the borrows views.  Too much repeated HTML</li>
<li>Add in pictures for pic_url?</li>
<li>Write tests?</li>
</ul>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-center">Welcome to Neighborhood Tool Time!</h1>
      <p class="text-center">Neighborhood Tool Time is an application that allows neighborhoods to lend and borrow tools and equipment.  
      Have you ever been working on a project and wondered if Bob down the street had a chainsaw you could borrow? 
      With Neighborhood Tool Time you can see if Bob or any other neighbor has one you can borrow.  
      Neighborhood Tool Time is all about building your community and lending a helping hand.</p>
    </div>
  </div>

