<h1>TODO:</h1>
<ul>
<li>Add validations and error messages</li>
<li>Create new landing page.  Use template with jumbotron and "cards below"</li>
<li>Update tables to panels</li>
<li>General clean up and formatting</li>
<li>DRY up the borrows views.  Too much repeated HTML</li>
<li>Add in pictures for pic_url?</li>
<li>Write tests?</li>
</ul>