@import "bootstrap";

$dark-primary: #303f9f;
$light-primary: #c5cae9;
$primary-base: #3f51b5;
$text-icons: #ffffff;
$accent: #8bc34a;
$primary-text: #212121;
$secondary-text: font(#757575);
$divider-color: #bdbdbd;

.background-dark-primary {
  background-color: $dark-primary;
}

.background-light-primary {
  background-color: $light-primary;
}

.background-accent {
  background-color: $accent;
}

.text-icons {
  color: $text-icons;
}

ul.navbar-nav a:hover {
  color: $accent !important;
}